*{
    margin: 0;
    padding: 0;
}
.slidebar{
    width: 800px;
    height: 350px;
    overflow: hidden;
    position: relative;
}
.slideimg{
    width: 100%;
}
.click{
    width: 20px;
    height: 20px;
    background-color: azure;
    position: absolute;
    top: 100px;
}
.left{
    position: absolute;
    top: 48%;
    left: 4%;
    color: rgb(129, 129, 129);
    font-size: 20px;
}
.right{
    position: absolute;
    top: 48%;
    right: 4%;
    color: rgb(129, 129, 129);;
    font-size: 20px;
}